@font-face {
  font-family: 'titleFont'; /* Nom que vous donnez à votre police */
  src: url('../fonts/Admiration.ttf') format('truetype'); /* Chemin vers le fichier .ttf */
}

h1{
  text-align: center;
  background-color: burlywood;
  font-family: 'titleFont', sans-serif;
  padding: 2%;
  color: maroon;
}

.input{
  margin-top: 1%;
  padding: 1%;
  text-align: center;
  background-color: burlywood;
}

.input >button{
  background: linear-gradient(to bottom right, maroon, burlywood);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  margin-left: 1%;
}
